* {
  padding: 0px;
  margin: 0px;
  font-family: 'Playfair Display', serif;
}
body {
  border-bottom: solid 3px rgb(205, 45, 211);
  /* background: linear-gradient(45deg, #1a1a2e, #2a0845, #9c27b0, #e91e63, #ff69b4);
   */
  /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364, #ff416c, #ff4b2b); */

  /* background: linear-gradient(45deg, #0d0d1c, #1a0f2f, #2a144c, #4a185c, #c33764, #1d2671, #0a0f2a); */
  /* background: linear-gradient(45deg, #2a0e36, #1d2671);  */
  background: linear-gradient(45deg, #a32b55, #151d4e, #4a185c);
}

nav {
  display: flex;

  color: aliceblue;
  position: relative;
  height: 7vh;
  margin-top: 3.7vh;
  width: 100%;
}

nav .name {
  position: relative;
  display: flex;
  width: 50%;
  justify-content: center;
  left: -4vw;
  font-size: 2.6vw;
  top: 1.5vh;
}

nav span {
  background-color: #a32b55;
  position: absolute;
  width: 8vw;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: 2vh;
  transition: ease-in-out 0.5s;
}

nav ul {
  display: flex;
  position: relative;
  left: 7.6vw;
  width: 38.5vw;
  height: 5.7vh;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 3px 2px 0 rgb(3, 1, 26);
  border-radius: 2vh;
  list-style: none;
}

nav ul li,
nav ul li button,
nav ul a {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: aliceblue;
  font-size: 1.5vw;
  background: none;
  border: none;
}

nav ul li:nth-child(1):hover ~ span {
  left: 0px;
}

nav ul li:nth-child(2):hover ~ span {
  left: 8vw;
  width: 9.2vw;
}

nav ul li:nth-child(3):hover ~ span {
  left: 17vw;
  width: 10.8vw;
}
nav ul li:nth-child(4):hover ~ span {
  left: 28.5vw;
  width: 10.08vw;
}

main .intro {
  display: grid;
  grid-template-columns: 1fr 0.5fr;

  height: 88.8vh;
}

main .left {
  display: flex;
  position: relative;
  left: 10%;
  height: 88.8vh;
  font-size: 3vw;
  color: aliceblue;

  flex-direction: column;

  justify-content: center;
}
main .left div {
  margin-top: 0.9vh;
}
#element {
  color: rgb(171, 79, 217);
}
.left .btn {
  display: flex;
}
.left .a {
  position: relative;
  margin-top: 1.6vh;
  border: solid 2px white;
  border-radius: 10px;
  margin-right: 2vw;
  width: 13.7vw;
  height: 10vh;

  font-size: 1.7vw;
  font-weight: bold;

  background: linear-gradient(
    145deg,
    #1a1a2e86,
    #2a08457b,
    #9b27b07f,
    #e91e6282,
    #ff69b4a0
  );
}
.left a {
  color: aliceblue;
  text-decoration: none;
}

.left .b {
  position: relative;
  margin-top: 1.6vh;
  border: solid 2px white;
  border-radius: 10px;
  margin-right: 2vw;
  width: 13.7vw;

  font-size: 1.7vw;
  font-weight: bold;

  background: linear-gradient(
    145deg,
    #1a1a2e86,
    #2a08457b,
    #9b27b07f,
    #e91e6282,
    #ff69b4a0
  );
}

.left button:hover {
  box-shadow: 0 0 20px purple, 0 0 40px purple;
}

main .right {
  display: flex;
  position: relative;

  align-items: center;
}
main .right img {
  width: 100%;
  height: auto;

  border-radius: 50%;

  border: solid 4px rgb(136, 90, 180);

  box-shadow: 0 0 20px purple, 0 0 40px purple;
  margin-right: 3vw;
}

project {
  display: inline-block;
  position: relative;

  width: 100%;
  margin-top: 10vh;
  border-bottom: solid 3px rgb(205, 45, 211);
}

.head {
  position: relative;
  display: flex;
  justify-content: center;
  color: rgb(225, 18, 176);
  font-size: 3vw;
  font-weight: bolder;
  margin-bottom: 12vh;
  box-shadow: 0 0 20px purple, 0 0 40px rgb(249, 25, 249);
}

.grid {
  position: relative;
  margin: 0px 6vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3vw;
  margin-bottom: 10vh;
}

.grid .p {
  height: 50vh;
  display: grid;
  grid-template-rows: 2.3fr 0.7fr 1fr;
  position: relative;
  background-color: rgba(205, 45, 211, 0.148);
  border: solid 3px rgb(205, 45, 211);
}

.grid .p:hover {
  box-shadow: 0 0 20px purple, 0 0 40px rgb(249, 25, 249);
  transform: scale(1.1);
}
#pic1 {
  background-image: url(p1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#pic2 {
  background-image: url(p3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#pic3 {
  background-image: url(p4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#pic4 {
  background-image: url(p2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#pic5 {
  background-image: url(p5.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#pic6 {
  background-image: url(p2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.p1b {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  color: aliceblue;
  font-size: 1.6vw;
  font-weight: bold;
}

.p1c .skill {
  position: relative;
  display: flex;
  justify-content: center;
  
}
.p1c .skill button {
  position: relative;
  display: flex;
  padding: 0.5vh 1vw;
  color: aliceblue;
  border-radius: 10px;
  background: linear-gradient(
    145deg,
    #1a1a2e86,
    #2a08457b,
    #9b27b07f,
    #e91e6282,
    #ff69b4a0
  );
  background-color: rgb(249, 25, 249);
  border: 1px solid white;
  font-size: 1.1vw;
}

.p1c .skii {
  position: relative;
  display: flex;
  justify-content: center;
}

.p1c .ski {
  margin-top: 1.5vh;
  margin-left: 0.5vw;

  padding: 0.4vh 0.6vw;
  color: aliceblue;
  border-radius: 10px;
  background: linear-gradient(
    145deg,
    #1a1a2e86,
    #2a08457b,
    #9b27b07f,
    #e91e6282,
    #ff69b4a0
  );
  background-color: rgb(249, 25, 249);
  border: 1px solid white;
}

skills {
  display: inline-block;
  position: relative;
  min-height: auto;
  height: auto;
  width: 100%;
  margin-top: 8vh;
}

skills .grid2 {
  position: relative;
  margin: 0px 3.5vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));

  gap: 2.5vw;
}

.grid2 .z1 {
  height: 26vh;

  display: grid;
  position: relative;
  background-color: rgb(255, 255, 255);
  border: solid 3px rgba(205, 45, 211, 0.526);
}

.grid2 .z1:hover {
  box-shadow: 0 0 20px purple, 0 0 40px rgb(249, 25, 249);
  transform: scale(1.1);
}

#s1 {
  background-image: url(html.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#s2 {
  background-image: url(css-3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#s3 {
  background-image: url(js.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#s4 {
  background-image: url(c-.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#s5 {
  background-image: url(sfml.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#s6 {
  background-image: url(github.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#s7 {
  background-image: url(gpt.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid2 .x1 {
  height: 10vh;

  display: grid;
  position: relative;
  background-color: rgba(205, 45, 211, 0.148);
  border: solid 3px rgba(205, 45, 211, 0.458);

  font: bolder;
  font-size: 20px;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    145deg,
    #1a1a2e86,
    #2a08457b,
    #9b27b07f,
    #e91e6282,
    #ff69b4a0
  );
}

footer {
  margin-top: 10vh;
  border-top: solid 3px rgb(205, 45, 211);
  background: linear-gradient(45deg, #a32b55, #151d4e, #4a185c);
  height: 60vh;
  position: relative;
  justify-content: center;
  align-content: center;
}

footer .icon {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 5vh 5.9vw;
  width: 30vw;

  left: 26vw;
  justify-content: space-around;
}

.icon i {
  color: aliceblue;
  font-size: 2.4vw;
}
i:hover {
  box-shadow: 0 0 20px purple, 0 0 40px rgb(249, 25, 249);
  transform: scale(1.1);
}

footer ul {
  margin: 0vh 30vw 0vh 30vw;

  top: 3vh;

  display: flex;
  position: relative;

  width: 34.5vw;

  align-items: center;
  justify-content: space-around;

  list-style: none;
}

footer ul li,
footer ul a {
  justify-content: space-around;

  display: flex;
  list-style: none;
  text-decoration: none;
  color: aliceblue;
  font-size: 1.5vw;
}
