* {
  margin: 0;
  padding: 0;
   font-family: 'Playfair Display', serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(45deg, #a32b55, #151d4e, #4a185c);
  border-bottom: solid 3px rgb(205, 45, 211);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2vh;
}

.name {
  font-size: 8vw;
  font-weight: bolder;
  margin-bottom: 2vh;
}

#element {
  font-size: 5vw;
  font-weight: bolder;
  color: rgb(171, 79, 217);
  margin-bottom: 2vh;
}

.a {
  display: flex;
  background: linear-gradient(
    145deg,
    #1a1a2e86,
    #2a08457b,
    #9b27b07f,
    #e91e6282,
    #ff69b4a0
  );
  color: white;
  padding: 1.5vh 3vw;
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 10px;
  text-decoration: none;
  transition: box-shadow 0.3s ease;
  margin-top: 12px;
}
.a a{
  color: aliceblue;
  text-decoration: none;
}

.a:hover {
  box-shadow: 0 0 20px purple, 0 0 40px purple;
}


@media (max-width: 600px) {
  .name {
    font-size: 12vw;
  }

  #element {
    font-size: 8vw;
  }

  .a {
    font-size: 1rem;
    padding: 1vh 5vw;
    
  }
}
